.important {
    background-color: yellow;
    padding: 5px 1.5ex;
    border: 2px solid;
    margin: 0ex 5ex;
}


//body {
//    background-color:   #ffffff;
//    color:              #000000;
//    margin:             5px 2em 5px 2em; /* top / right / bottom / left */
//    text-align:         justify;
//}
//
//dt { margin: 1em 0em 0em 0em; }
//
//textarea, input, select {
///*    background-color:   #ffffff;*/
//    font-size:          100%;
//    font-family:        monospace;
///*    font-weight:        normal;*/
///*    width:              25em;*/
///*    border:             2px solid black;*/
//}
//
//.button {
//    border-width: 2;
//    font-size: 120%;
//}
//
//
///* links */
//a {
//    text-decoration:    underline;
//    background-color:   transparent;
//}
//a:hover {
//    background-color:   #dddddd;
//}
//
///* blink -- used *only* for SSI errors */
///* (should never occur in finished page) */
//blink {
//    background-color: red;
//    font-weight: bold;
//}
//
//
//
//
///* logo text (blue) */
//.logo {
//    margin:             0em 0em 0em 0em;
//    color:              #0c579d;
//}
//
//h1.logo {
//    margin:             0em 0em 1em 0em;
//}
//
///* headers */
//h1 {
//    margin:             1.5em 0em 1em 0em;
//    font-size:          200%;
//    text-align:         center;
//}
//
//h2 {
//    margin:             1.5em 0em 1em 0em;
//    font-size:          150%;
//}
//
///* images */
//img {
//    margin-top:         1em;
//}
//
///* small font */
//small {
//    font-size:      75%;
//}
//
//
///* table for page header */
//table, th, td {
//    border-collapse:    collapse;
//    border-spacing:     0;
//    background-color:   #dddddd;
//    border:             2px solid #000000;
//    padding:            0;
//}
//
//td {
//    padding:            .1em .5em;
//}
//
//th {
//    font-size:          120%;
//    padding:            .25em .5em;
//}
//
//
//
//
///******************************************************************************
//**                                                                           **
//**  Left Frame Menu (class="menu")                                           **
//**                                                                           **
//******************************************************************************/
//
///* definition list for menu */
//dl.menu {
//    background-color:   #dddddd;
//    border:             2px solid #000000;
//    margin:             1em  .2em   0em .2em;
//    padding:           .25em .5em .75em .5em;
//    text-align:         left;
//}
//
///* definition table for menu */
//dl.menu dt {
//    text-indent:       -1em;
//    margin-left:        1em;
//    margin-top:        .25em;
//}
//
///* hovered link highlight for menu */
//dl.menu a:hover {
//    background-color:   #bbbbbb;
//}
//
//
///******************************************************************************
//**                                                                           **
//**  Address/Changed Page Header (class="head")                               **
//**                                                                           **
//******************************************************************************/
//
//p.head {
//    margin:             0px 0em 1em 0em;
//}
//
///* table for page header */
//.head table {
//    background-color:   #dddddd;
//    border:             2px solid #000000;
//    font-size:          70%;
//    padding:            .1em;
//    width:              100%;
//}
//
///* table cell for page header */
//.head td {
//    border:             0px solid black;
//    margin:             0em;
//    padding:            0em .25em;
//    width:              30%;
//}
//
///* links (always black text) */
//.head a {
//    color:              #000000;
//}
//
///* hovered links (darken background) */
//.head a:hover {
//    background-color:   #bbbbbb;
//}
//
//
///******************************************************************************
//**                                                                           **
//**  Copyright Page Header (class="foot")                                     **
//**                                                                           **
//******************************************************************************/
//
///* paragraph for page footer */
//p.foot {
//    background-color:   #dddddd;
//    border:             2px solid #000000;
//    font-size:          70%;
//    margin:             2.5em 0em 0em 0em;
//    padding:            .1em;
//    text-align:         center;
//    width:              100%;
//}
//
///* links (always black text) */
//.foot a {
//    color:              #000000;
//}
//
///* hovered links (darken background) */
//.foot a:hover {
//    background-color:   #bbbbbb;
//}
//
